<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logging.path"  source="logging.file.path"/>
    <springProperty scope="context" name="logging.file" source="logging.file.name"/>
    <springProperty scope="context" name="logging.error" source="logging.file.error"/>

    <!-- 定义日志输出格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level [${PID:- }] --- [%16.16t] %-45.45logger:   L%line - %msg%n" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 滚动文件输出，按日期和大小滚动 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 如果application.yml中没有配置logging.file.path, 那么默认输出在工作目录下的logs目录-->
        <file>${logging.path:-logs}/${logging.file:-mybatisplus-poem.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.path:-logs}/${logging.file:-mybatisplus-poem}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>64MB</maxFileSize> <!-- 每个日志文件大小限制为64MB -->
            <maxHistory>7</maxHistory> <!-- 保留7天的日志文件 -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 滚动文件输出，按日期和大小滚动 -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 如果application.yml中没有配置logging.file.path, 那么默认输出在工作目录下的logs目录-->
        <file>${logging.path:-logs}/${logging.error:-error.log}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!--设置日志级别,过滤掉info日志,只输入error日志-->
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.path:-logs}/${logging.error:-error}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>64MB</maxFileSize> <!-- 每个日志文件大小限制为64MB -->
            <maxHistory>7</maxHistory> <!-- 保留7天的日志文件 -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 根日志记录器，输出到控制台和滚动文件 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR_LOG" />
    </root>

</configuration>