<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loserico.mybatisplus.poem.mapper.PoemMapper">

    <select id="selectByCondition" resultType="com.loserico.mybatisplus.poem.entity.Poem">
    <![CDATA[
        SELECT * FROM poem
        WHERE is_deleted = 0
        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="author != null and author != ''">
            AND author = #{author}
        </if>
        <if test="dynasty != null and dynasty != ''">
            AND dynasty = #{dynasty}
        </if>
    ]]>
    </select>

    <select id="selectByComplexCondition" resultType="com.loserico.mybatisplus.poem.entity.Poem">
        <![CDATA[
        SELECT * FROM poem
        WHERE is_deleted = 0
        <choose>
            <when test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </when>
            <when test="author != null and author != ''">
                AND author = #{author}
            </when>
            <otherwise>
                AND dynasty = '唐代'
            </otherwise>
        </choose>
        ]]>
    </select>

    <select id="selectByWhereCondition" resultType="com.loserico.mybatisplus.poem.entity.Poem">
    <![CDATA[
        SELECT * FROM poem
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author = #{author}
            </if>
            <if test="dynasty != null and dynasty != ''">
                AND dynasty = #{dynasty}
            </if>
        </where>
        ]]>
    </select>

    <update id="updatePoem">
    <![CDATA[
        UPDATE poem
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="dynasty != null and dynasty != ''">
                dynasty = #{dynasty},
            </if>
        </set>
        WHERE id = #{id}
    ]]>
    </update>

    <select id="selectByIds" resultType="com.loserico.mybatisplus.poem.entity.Poem">
    <![CDATA[
        SELECT * FROM poem
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    ]]>
    </select>

    <select id="selectByTrimCondition" resultType="com.loserico.mybatisplus.poem.entity.Poem">
    <![CDATA[
        SELECT * FROM poem
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="author != null and author != ''">
                OR author = #{author}
            </if>
        </trim>
    ]]>
    </select>
</mapper>